﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Education Template - Contact</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap theme -->
    <link href="~/Signup/css/bootstrap-theme.css" rel="stylesheet" />
    <!--external css-->
    <!-- font icon -->
    <link href="~/Signup/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Signup/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Signup/css/style.css" rel="stylesheet" />
    <link href="~/Signup/css/style-responsive.css" rel="stylesheet" />

    <!--
    Template 2067 Education
    http://www.tooplate.com/view/2067-education
    -->
    <link href="~/Content/tooplate_style.css" rel="stylesheet" type="text/css" />

    <script type="text/JavaScript" src="../../Scripts/js/jquery-1.6.3.js"></script>

    <link rel="stylesheet" type="text/css" href="../../Content/css/ddsmoothmenu.css" />

    <script type="text/javascript" src="../../Scripts/js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

    </script>

    <script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "tooplate_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

    </script>

    <link rel="stylesheet" href="../../Content/css/slimbox2.css" type="text/css" media="screen" />
    <script type="text/JavaScript" src="../../Scripts/js/slimbox2.js"></script>

    <link rel="stylesheet" href="../../Content/css/nivo-slider.css" type="text/css" media="screen" />

</head>
<body >

    <div id="tooplate_header">
        <a href="index.html" class="sitetitle">Education Template</a>
        <div id="tooplate_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                    <a href="blog.html">Blog</a>
                    <ul>
                        <li><a href="blog.html">Category One</a></li>
                        <li><a href="blog.html">Category Two</a></li>
                        <li><a href="blog.html">Category Three</a></li>
                        <li><a href="blog.html">Category Four</a></li>
                        <li><a href="blog.html">Category Five</a></li>
                    </ul>
                </li>
                <li>

                </li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html" class="selected">Contact</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of tooplate_menu -->
    </div> <!-- END of header -->
    <!-- END of tooplate_main -->


    <div class="container">

        <form class="login-form" action="~/Main/Verify">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="email" class="form-control" placeholder="Username"  name="email" autofocus  autocomplete="on" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" name="passwd" placeholder="Password" autofocus/>
                </div>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" /> Remember me
                    <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                <a href="~/Main/Signup" style="text-decoration:none;"> <input type ="button" class="btn btn-info btn-lg btn-block" value="SIGN UP"> </a>
            </div>
        </form>

    </div>


    

    <div class="clear h30"></div>
    <div style="display:none;" class="nav_up" id="nav_up"></div>

    <div id="tooplate_footer_wrapper">
        <div id="tooplate_footer">
            <div class="col_4">
                <h4>Pages</h4>
                <ul class="nobullet bottom_list">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

            <div class="col_4">
                <h4>Our Partners</h4>
                <ul class="nobullet bottom_list">
                    <li><a href="#">Website Designs</a></li>
                    <li><a href="#">Digital Blog</a></li>
                    <li><a href="#">Image Gallery</a></li>
                    <li><a href="#">HTML Web Templates</a></li>
                    <li><a href="#">Preminum Themes</a></li>
                </ul>
            </div>

            <div class="col_4">
                <h4>About</h4>
                <p> Praesent eu neque lectus, ut congue purus. Donec pellentesque, erat vitae tempus volutpat, augue diam pulvinar orci.</p>
                <a href="#" class="more">More</a>
            </div>
            <div class="col_4 no_margin_right">
                <h4>Twitter</h4>
                <p>"Lorem ipsum dolor sit amet consectetur adipiscing elit <a href="#">#Donec</a> ante nibh sagittis ut lobortis a, posuere vel sem"</p>
                <a href="#">Follow me on Twitter</a>
            </div>
            <div class="clear"></div>
        </div> <!-- END of tooplate_footer -->
    </div> <!-- END of tooplate_footer_wrapper -->

    <div id="tooplate_copyright_wrapper">
        <div id="tooplate_copyright">
            Copyright © 2048 Your Company Name

        </div>
    </div>

    <script src="../../Scripts/js/scroll-startstop.events.jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var $elem = $('#content');

            $('#nav_up').fadeIn('slow');

            $(window).bind('scrollstart', function () {
                $('#nav_up,#nav_down').stop().animate({ 'opacity': '0.2' });
            });
            $(window).bind('scrollstop', function () {
                $('#nav_up,#nav_down').stop().animate({ 'opacity': '1' });
            });

            $('#nav_up').click(
                function (e) {
                    $('html, body').animate({ scrollTop: '0px' }, 800);
                }
            );
        });
    </script>

</body>
</html>