﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Responsive Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/Admin/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/Admin/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/Admin/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />




    <link href="../../Content/tooplate_style.css" rel="stylesheet" type="text/css" />

    <script type="text/JavaScript" src="../../Scripts/js/jquery-1.6.3.js"></script>

    <link rel="stylesheet" type="text/css" href="../../Content/css/ddsmoothmenu.css" />

    <script type="text/javascript" src="../../Scripts/js/ddsmoothmenu.js">

        /***********************************************
        * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
        * This notice MUST stay intact for legal use
        * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
        ***********************************************/

    </script>

    <script type="text/javascript">

        ddsmoothmenu.init({
            mainmenuid: "tooplate_menu", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })

        $(document).ready(function () {





        });
    </script>

    <link rel="stylesheet" href="../../Content/css/slimbox2.css" type="text/css" media="screen" />
    <script type="text/JavaScript" src="../../Scripts/js/slimbox2.js"></script>

    <link rel="stylesheet" href="../../Content/css/nivo-slider.css" type="text/css" media="screen" />

</head>
<body>

    <div id="tooplate_header">
        <a href="index.html" class="sitetitle">Education Template</a>
        
    </div> <!-- END of header -->


                
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">



                    <li class="active-link">
                        <a href="~/Admin/DashBoard"><i class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span></a>
                    </li>


                    <li>
                        <a href="~/Admin/DeleteUser"><i class="fa fa-database"> </i>Delete User</a>
                    </li>


                    <li>
                        <a href="~/Admin/DeleteTest"><i class="fa fa-database" > </i>Delete Test</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-database"></i>All User Records</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-database "></i> All Test Records </a>
                    </li>
                    
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>ADMIN DASHBOARD</h2>
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="alert alert-info">
                            <strong>Welcome Jhon Doe ! </strong> 
                            <span style="color:red;font-size:larger"> @Session["Save"] </span>
                        </div>

                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row text-center pad-top">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-circle-o-notch fa-5x"></i>
                                <h4>Check Data</h4>
                            </a>
                        </div>


                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-envelope-o fa-5x"></i>
                                <h4>Mail Box</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-lightbulb-o fa-5x"></i>
                                <h4>New Issues</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="~/Admin/AddTest">
                                <i class="fa fa-users fa-5x"></i>
                                <h4>Add Teacher</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-key fa-5x"></i>
                                <h4>Admin </h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="~/Admin/SearchTest">
                                <i class="fa fa-search fa-5x" aria-hidden="true"></i>
                                <h4>Search Test</h4>
                            </a>
                        </div>


                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row text-center pad-top">

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="~/Admin/SearchUser">
                                <i class="fa fa-search fa-5x" aria-hidden="true"></i>
                                <h4>Search User</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-gear fa-5x"></i>
                                <h4>Settings</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-wechat fa-5x"></i>
                                <h4>Live Talk</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-bell-o fa-5x"></i>
                                <h4>Notifications </h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-rocket fa-5x"></i>
                                <h4>Launch</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-user fa-5x"></i>
                                <h4>Register User</h4>
                            </a>
                        </div>


                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row text-center pad-top">


                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-envelope-o fa-5x"></i>
                                <h4>Mail Box</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-lightbulb-o fa-5x"></i>
                                <h4>New Issues</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-users fa-5x"></i>
                                <h4>See Users</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-key fa-5x"></i>
                                <h4>Admin </h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="#">
                                <i class="fa fa-comments-o fa-5x"></i>
                                <h4>Support</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="blank.html">
                                <i class="fa fa-circle-o-notch fa-5x"></i>
                                <h4>Check Data</h4>
                            </a>
                        </div>


                    </div>
                </div>
             
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div class="footer">


        <div class="row">
            <div class="col-lg-12">
                &copy;  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
            </div>
        </div>
    </div>


    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../Admin/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../Admin/js/bootstrap.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../../Admin/js/custom.js"></script>


</body>
</html>
