﻿@{
    Layout = null;
}

<!DOCTYPE html>

@{
    Layout = null;
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Responsive Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/Admin/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/Admin/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/Admin/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />




    <link href="../../Content/tooplate_style.css" rel="stylesheet" type="text/css" />

    <script type="text/JavaScript" src="../../Scripts/js/jquery-1.6.3.js"></script>

    <link rel="stylesheet" type="text/css" href="../../Content/css/ddsmoothmenu.css" />

    <script type="text/javascript" src="../../Scripts/js/ddsmoothmenu.js">

        /***********************************************
        * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
        * This notice MUST stay intact for legal use
        * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
        ***********************************************/

    </script>

    <script type="text/javascript">

        $(document).ready(function () {


            $(".mod2").hide();
            $(".mod3").hide();

            $("#op1").click(function () {
                //alert("opt 1 clicked");
                $(".mod2").hide();
                $(".mod3").hide();
                $(".mod1").show();

            });



            $("#option2").click(function () {

                $(".mod1").hide();
                $(".mod3").hide();
                $(".mod2").show();

            });



            $("#option3").click(function () {

                $(".mod2").hide();
                $(".mod1").hide();
                $(".mod3").show();

            });




        });


        ddsmoothmenu.init({
            mainmenuid: "tooplate_menu", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })

    </script>

    <link rel="stylesheet" href="../../Content/css/slimbox2.css" type="text/css" media="screen" />
    <script type="text/JavaScript" src="../../Scripts/js/slimbox2.js"></script>

    <link rel="stylesheet" href="../../Content/css/nivo-slider.css" type="text/css" media="screen" />

</head>
<body>

    <div id="tooplate_header">
        <a href="index.html" class="sitetitle">Education Template</a>

    </div> <!-- END of header -->
    <!-- /. NAV SIDE  -->


    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">



                <li>
                    <a href="index.html"><i class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span></a>
                </li>


                <li>
                    <a href="ui.html"><i class="fa fa-table "></i> Edit Test  </a>
                </li>
                <li >
                    <a href="blank.html"><i class="fa fa-edit "></i>Candidates  </a>
                </li>


                <li>
                    <a href="#"><i class="fa fa-database"> </i>Settings</a>
                </li>
                <li class="active-link">
                    <a href="#"><i class="fa fa-database"></i> View Test</a>
                </li>
            </ul>
        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Delete User</h2>
                </div>
            </div>

            <div class="btn-row">
                <div class="panel-body">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-info" id="op1" href="#">Module-1</a>
                        <a class="btn btn-info" id="option2" href="#">Module-2</a>
                        <a class="btn btn-info" id="option3" href="#">Module-3</a>

                    </div>
                </div>
            </div>
            <hr />
            <!-- /. ROW  -->
            @{


                for (int i = 1; i <= 20; i++)
                {

                    <div class="mod1">
                        <div class="panel-body">
                            <form class="form-horizontal " method="get">
                                
                                <div class="form-group">
                                    <label  style="color:blue;font-size:medium;display:inline">@i</label>
                                        <p class="form-control-static" style="display:inline;color:darkred;font-size:medium;padding:10px">email@example.com dslndsanasldnadsklnadslnadslnadsl</p>                                                                            

                                </div>

                            <div class="form-group">
                                    <label style="padding-left:50px">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Option one is this and that&mdash;be sure to include why it's great
                                    </label>
                                    <label style="padding-left:50px">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Option two can be something else and selecting it will deselect option one
                                    </label>

                                <label style="padding-left:50px">
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Option two can be something else and selecting it will deselect option one
                                </label>

                                <label style="padding-left:50px">
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Option two can be something else and selecting it will deselect option one
                                </label>

                                <br>
                                <button type="submit" class="btn btn-primary" id="submit" style="margin-left:50px;margin-top:10px">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>




                    <div class="mod2">
                        <div class="panel-body">
                            <form class="form-horizontal " method="get">

                                <div class="form-group">
                                    <label style="color:blue;font-size:medium;display:inline">@i</label>
                                    <p class="form-control-static" style="display:inline;color:darkred;font-size:medium;padding:10px">email@example.com dslndsanasldnadsklnadslnadslnadsl</p>

                                </div>

                                <div class="form-group">
                                    <label style="padding-left:50px">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Option one is this and that&mdash;be sure to include why it's great
                                    </label>
                                    <label style="padding-left:50px">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Option two can be something else and selecting it will deselect option one
                                    </label>

                                    <label style="padding-left:50px">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Option two can be something else and selecting it will deselect option one
                                    </label>

                                    <label style="padding-left:50px">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Option two can be something else and selecting it will deselect option one
                                    </label>

                                    <br>
                                    <button type="submit" class="btn btn-primary" id="submit" style="margin-left:50px;margin-top:10px">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>




                    <div class="mod3">
                        <div class="panel-body">
                            <form class="form-horizontal " method="get">

                                <div class="form-group">
                                    <label style="color:blue;font-size:medium;display:inline">@i</label>
                                    <p class="form-control-static" style="display:inline;color:darkred;font-size:medium;padding:10px">email@example.com dslndsanasldnadsklnadslnadslnadsl</p>

                                </div>

                                <div class="form-group">
                                    <label style="padding-left:50px">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Option one is this and that&mdash;be sure to include why it's great
                                    </label>
                                    <label style="padding-left:50px">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Option two can be something else and selecting it will deselect option one
                                    </label>

                                    <label style="padding-left:50px">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Option two can be something else and selecting it will deselect option one
                                    </label>

                                    <label style="padding-left:50px">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Option two can be something else and selecting it will deselect option one
                                    </label>

                                    <br>
                                    <button type="submit" class="btn btn-primary" id="submit" style="margin-left:50px;margin-top:10px">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>


                }













            }

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div class="footer">


        <div class="row">
            <div class="col-lg-12">
                &copy;  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
            </div>
        </div>
    </div>


    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../Admin/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../Admin/js/bootstrap.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../../Admin/js/custom.js"></script>


</body>
</html>
