﻿@{
    ViewBag.Title = "AddTest";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Education Template - Contact</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />


    <!-- Bootstrap CSS -->
    <link href="~/Signup/css/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap theme -->
    <link href="~/Signup/css/bootstrap-theme.css" rel="stylesheet" />
    <!--external css-->
    <!-- font icon -->
    <link href="~/Signup/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Signup/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Signup/css/style.css" rel="stylesheet" />
    <link href="~/Signup/css/style-responsive.css" rel="stylesheet" />

    <!--
    Template 2067 Education
    http://www.tooplate.com/view/2067-education
    -->
    <link href="~/Content/tooplate_style.css" rel="stylesheet" type="text/css" />

    <script type="text/JavaScript" src="../../Scripts/js/jquery-1.6.3.js"></script>

    <link rel="stylesheet" type="text/css" href="../../Content/css/ddsmoothmenu.css" />

    <script type="text/javascript" src="../../Scripts/js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

    </script>

    <script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "tooplate_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

$(document).ready(MainFunction);
function MainFunction() {




    $('#userpic').change(function (event) {
        var tmppath = URL.createObjectURL(event.target.files[0]);
        $("#1").fadeIn("fast").attr('src', tmppath);
        alert(tmppath);

    });
}

    </script>

    <link rel="stylesheet" href="../../Content/css/slimbox2.css" type="text/css" media="screen" />
    <script type="text/JavaScript" src="../../Scripts/js/slimbox2.js"></script>

    <link rel="stylesheet" href="../../Content/css/nivo-slider.css" type="text/css" media="screen" />

</head>
<body>

    <div id="tooplate_header">
        <a href="index.html" class="sitetitle">Education Template</a>
        <div id="tooplate_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                    <a href="blog.html">Blog</a>
                    <ul>
                        <li><a href="blog.html">Category One</a></li>
                        <li><a href="blog.html">Category Two</a></li>
                        <li><a href="blog.html">Category Three</a></li>
                        <li><a href="blog.html">Category Four</a></li>
                        <li><a href="blog.html">Category Five</a></li>
                    </ul>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                    <ul>
                        <li><a href="gallery.html">Web Design</a></li>
                        <li><a href="gallery.html">Flyer</a></li>
                        <li><a href="gallery.html">Icons</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html" class="selected">Contact</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of tooplate_menu -->
    </div> <!-- END of header -->
    <!-- END of tooplate_main -->


    <section id="container" class="">
        <!--header start-->
        <!--sidebar start-->
        <!-- sidebar menu start-->
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!-- Form validations -->


                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                User Sign Up
                            </header>
                            <div class="panel-body">
                                <div class="form">
                                    <form class="form-validate form-horizontal " id="register_form" method="get" action="">
                                        <div class="form-group ">
                                            <label for="fullname" class="control-label col-lg-2">Test name <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="fullname" name="fullname" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="address" class="control-label col-lg-2">Address <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="address" name="address" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="CNIC" class="control-label col-lg-2"> Contact Number <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="CNIC" name="CNIC" type="tel" />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="password" class="control-label col-lg-2">Password <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="password" name="password" type="password" />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="confirm_password" class="control-label col-lg-2">Confirm Password <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="confirm_password" name="confirm_password" type="password" />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="email" class="control-label col-lg-2">Email <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="email" name="email" type="email" />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="datetime" class="control-label col-lg-2">Test Timings <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="date" name="date" type="datetime-local" />
                                            </div>
                                        </div>


                                        <div class="form-group ">

                                            <label for="email" class="control-label col-lg-2">Choose Your Picture <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <span class="btn btn-primary btn-file">
                                                        <input type="file" />
                                                    </span>
                                                    <span class="fileupload-preview"></span>
                                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group ">
                                            <label for="email" class="control-label col-lg-2">Test Owner <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="email" name="email" type="text" />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="email" class="control-label col-lg-2">Test Modules <span class="required">*</span></label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="email" name="email" type="number" />
                                            </div>
                                        </div>
                                        
                                        <div class="form-group ">
                                            <label for="agree" class="control-label col-lg-2 col-sm-3">Agree to Our Policy <span class="required">*</span></label>
                                            <div class="col-lg-10 col-sm-9">
                                                <input type="checkbox" style="width: 20px" class="checkbox form-control" id="agree" name="agree" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-primary" type="submit">Save</button>
                                                <button class="btn btn-default" type="button">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
    </section>
    <!-- container section end -->
    <!-- javascripts -->
    <script src="~/Signup/js/jquery.js"></script>
    <script src="~/Signup/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/Signup/js/jquery.scrollTo.min.js"></script>
    <script src="~/Signup/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- jquery validate js -->
    <script type="text/javascript" src="~/Signup/js/jquery.validate.min.js"></script>

    <!-- custom form validation script for this page-->
    <script src="~/Signup/js/form-validation-script.js"></script>
    <!--custome script for all page-->
    <script src="~/Signup/js/scripts.js"></script>


    </div>
    <div class="clear h30"></div>
    <div style="display:none;" class="nav_up" id="nav_up"></div>
    </div>

    <div id="tooplate_footer_wrapper">
        <div id="tooplate_footer">
            <div class="col_4">
                <h4>Pages</h4>
                <ul class="nobullet bottom_list" style="line-height:18px;">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

            <div class="col_4">
                <h4>Our Partners</h4>
                <ul class="nobullet bottom_list" style="line-height:18px;">
                    <li>
                        <a href="#">
                            Website Designs
                        </a>
                    </li>
                    <li><a href="#">Digital Blog</a></li>
                    <li><a href="#">Image Gallery</a></li>
                    <li><a href="#">HTML Web Templates</a></li>
                    <li><a href="#">Preminum Themes</a></li>
                </ul>
            </div>

            <div class="col_4">
                <h4>About</h4>
                <p style="line-height:18px;"> Praesent eu neque lectus, ut congue purus. Donec pellentesque, erat vitae tempus volutpat, augue diam pulvinar orci.</p>
                <a href="#" class="more">More</a>
            </div>
            <div class="col_4 no_margin_right">
                <h4>Twitter</h4>
                <p style="line-height:18px;">" lorem=Lorem ipsum=ipsum dolor=dolor sit=sit amet=amet consectetur=consectetur adipiscing=adipiscing elit=elit<a href="#">#Donec</a> ante nibh sagittis ut lobortis a, posuere vel sem"</p>
                <a href="#">Follow me on Twitter</a>
            </div>
            <div class="clear"></div>
        </div> <!-- END of tooplate_footer -->
    </div> <!-- END of tooplate_footer_wrapper -->

    <div id="tooplate_copyright_wrapper">
        <div id="tooplate_copyright">
            Copyright © 2048 Your Company Name

        </div>
    </div>

    <script src="../../Scripts/js/scroll-startstop.events.jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
	$(function() {
		var $elem = $('#content');

		$('#nav_up').fadeIn('slow');

		$(window).bind('scrollstart', function(){
			$('#nav_up,#nav_down').stop().animate({'opacity':'0.2'});
		});
		$(window).bind('scrollstop', function(){
			$('#nav_up,#nav_down').stop().animate({'opacity':'1'});
		});

		$('#nav_up').click(
			function (e) {
				$('html, body').animate({scrollTop: '0px'}, 800);
			}
		);
	});
    </script>

</body>
</html>