﻿@{
    Layout = null;
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Responsive Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/Admin/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/Admin/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/Admin/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link href="~/Signup/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Signup/css/font-awesome.min.css" rel="stylesheet" />


    <link href="../../Content/tooplate_style.css" rel="stylesheet" type="text/css" />

    <script type="text/JavaScript" src="../../Scripts/js/jquery-1.6.3.js"></script>

    <link rel="stylesheet" type="text/css" href="../../Content/css/ddsmoothmenu.css" />

    <script type="text/javascript" src="../../Scripts/js/ddsmoothmenu.js">

        /***********************************************
        * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
        * This notice MUST stay intact for legal use
        * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
        ***********************************************/

    </script>

    <script type="text/javascript">

        ddsmoothmenu.init({
            mainmenuid: "tooplate_menu", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })

    </script>

    <link rel="stylesheet" href="../../Content/css/slimbox2.css" type="text/css" media="screen" />
    <script type="text/JavaScript" src="../../Scripts/js/slimbox2.js"></script>

    <link rel="stylesheet" href="../../Content/css/nivo-slider.css" type="text/css" media="screen" />

</head>
<body>

    <div id="tooplate_header">
        <a href="index.html" class="sitetitle">Education Template</a>

    </div> <!-- END of header -->



    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">



                <li>
                    <a href="~/Admin/DashBoard"><i class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span></a>
                </li>


                <li>
                    <a href="~/Admin/DeleteUser"><i class="fa fa-database"> </i>Delete User</a>
                </li>


                <li class="active-link">
                    <a href="~/Admin/DeleteTest"><i class="fa fa-database"> </i>Delete Test</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-database"></i>All User Records</a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-database "></i> All Test Records </a>
                </li>
</ul>
        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Delete User</h2>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Advanced Table
                        </header>

                        <table class="table table-striped table-advance table-hover">
                            <tbody>
                                <tr>
                                    <th><i class="icon_profile"></i> Full Name</th>
                                    <th><i class="icon_calendar"></i> Date</th>
                                    <th><i class="icon_mail_alt"></i> Email</th>
                                    <th><i class="icon_pin_alt"></i> City</th>
                                    <th><i class="icon_mobile"></i> Mobile</th>
                                    <th><i class="icon_cogs"></i> Action</th>
                                </tr>
                                <tr>
                                    <td>Angeline Mcclain</td>
                                    <td>2004-07-06</td>
                                    <td>dale@chief.info</td>
                                    <td>Rosser</td>
                                    <td>176-026-5992</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
            </div>


            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div class="footer">


        <div class="row">
            <div class="col-lg-12">
                &copy;  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
            </div>
        </div>
    </div>


    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../Admin/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../Admin/js/bootstrap.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../../Admin/js/custom.js"></script>


</body>
</html>
