﻿<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
   

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        

    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()

        
</body>
</html>
