﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Education HTML Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--
    Template 2067 Education
    http://www.tooplate.com/view/2067-education
    -->
    <link href="../../Content/tooplate_style.css" rel="stylesheet" type="text/css" />

    <script type="text/JavaScript" src="../../Scripts/js/jquery-1.6.3.js"></script>

    <link rel="stylesheet" type="text/css" href="../../Content/css/ddsmoothmenu.css" />

    <script type="text/javascript" src="../../Scripts/js/ddsmoothmenu.js">

        /***********************************************
        * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
        * This notice MUST stay intact for legal use
        * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
        ***********************************************/

    </script>

    <script type="text/javascript">

        ddsmoothmenu.init({
            mainmenuid: "tooplate_menu", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })

    </script>

    <link rel="stylesheet" href="../../Content/css/slimbox2.css" type="text/css" media="screen" />
    <script type="text/JavaScript" src="../../Scripts/js/slimbox2.js"></script>

    <link rel="stylesheet" href="../../Content/css/nivo-slider.css" type="text/css" media="screen" />

</head>
<body>

    <div id="tooplate_header">
        <a href="index.html" class="sitetitle">Education Template</a>
        <div id="tooplate_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="index.html" class="selected">Home</a></li>
                <li>
                    <a href="blog.html">Blog</a>
                    <ul>
                        <li><a href="blog.html">Category One</a></li>
                        <li><a href="blog.html">Category Two</a></li>
                        <li><a href="blog.html">Category Three</a></li>
                        <li><a href="blog.html">Category Four</a></li>
                        <li><a href="blog.html">Category Five</a></li>
                    </ul>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                    <ul>
                        <li><a href="gallery.html">Web Design</a></li>
                        <li><a href="gallery.html">Flyer</a></li>
                        <li><a href="gallery.html">Icons</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li class="last"><a href="contact.html" class="last">Contact</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of tooplate_menu -->
    </div> <!-- END of header -->
    <div id="tooplate_slider_wrapper">
        <div id="tooplate_slider">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="../../images/slider/01.jpg" alt="" title="#caption1" />
                    <img src="../../images/slider/02.jpg" alt="" title="#caption2" />
                    <img src="../../images/slider/01.jpg" alt="" title="#caption1" />
                    <img src="../../images/slider/03.jpg" alt="" title="#caption3" />
                </div>
                <div id="caption1" class="nivo-html-caption">
                    <h1>Nulla egestas turpis ac lectus</h1>
                    <p>Nulla egestas turpis ac lectus dapibus adipiscing. Nulla laoreet nisi vitae libero pellentesque aliquam.</p>
                </div>
                <div id="caption2" class="nivo-html-caption">
                    <h1>Nulla egestas turpis ac lectus</h1>
                    <p>Nulla egestas turpis ac lectus dapibus adipiscing. Nulla laoreet nisi vitae libero pellentesque aliquam.</p>
                </div>
                <div id="caption3" class="nivo-html-caption">
                    <h1>Nulla egestas turpis ac lectus</h1>
                    <p>Nulla egestas turpis ac lectus dapibus adipiscing. Nulla laoreet nisi vitae libero pellentesque aliquam.</p>
                </div>
            </div>
            <div class="button_box">
                <a href="~/Admin/DashBoard" class="button blue">Sign Up</a>
                <a href="#" class="button black">Learn More</a>
            </div>
            <script type="text/javascript" src="../../Scripts/js/jquery-1.6.3.min.js"></script>
            <script type="text/javascript" src="../../Scripts/js/jquery.nivo.slider.pack.js"></script>
            <script type="text/javascript">
                $(window).load(function () {
                    $('#slider').nivoSlider({
                        effect: 'fade',
                        controlNav: true, // 1,2,3... navigation
                        directionNav: false,
                        animSpeed: 800, // Slide transition speed
                        pauseTime: 4000, // How long each slide will show
                    });
                });
            </script>
        </div> <!-- END of slider -->
    </div>
    <div id="tooplate_main">
        <div id="home_about">
            <h1>Hi, this is Education  Template!</h1>
            <p>
                Education is free HTML CSS template by <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Tooplate</a>. Vestibulum urna libero, <br />
                <a href="http://www.facebook.com/tooplate" target="_parent">fringilla</a> eu faucibus nec, fringilla eget elit.
            </p>
        </div>
        <div class="content_wrapper content_mb_60" style="line-height:normal;">
            <div class="col_4">
                <img src="../../images/tooplate_image_01.jpg" alt="image" class="img_border img_border_b img_nom" />
                <p>Maecenas sed quam vitae velit commodo ultricies. Ut vitae luctus mi. Donec ligula dolor aliquam non orci. <a href="#">More...</a></p>
            </div>
            <div class="col_4">
                <img src="../../images/tooplate_image_02.jpg" alt="image" class="img_border img_border_b img_nom" />
                <p>Cras a orci risus. Nulla scelerisque neque fermentum lorem feugiat fringilla gravida id sed enim. <a href="#">More...</a></p>
            </div>
            <div class="col_4">
                <img src="../../images/tooplate_image_03.jpg" alt="image" class="img_border img_border_b img_nom" />
                <p>Etiam orci velit, lobortis vel tincidunt eu, aliquet vel orci sit amet tellus placerat viverra<a href="#">More...</a></p>
            </div>
            <div class="col_4 no_margin_right">
                <img src="../../images/tooplate_image_04.jpg" alt="image" class="img_border img_border_b img_nom" />
                <p>Morbi diam est,  et egestas a, aliquet ac quam. Donec vitae augue ut sem cursus aliquet rhoncus vel quam. <a href="#">More...</a></p>
            </div>
        </div>
      
     
        <div id="tooplate_footer_wrapper" style="line-height:normal;">
            <div id="tooplate_footer" style="line-height:normal;">
                <div class="col_4" style="line-height:normal;">
                    <h4>Pages</h4>
                    <ul class="nobullet bottom_list" style="line-height:normal;">
                        <li><a style="line-height:normal;" href="index.html">Home</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>

                <div class="col_4" style="line-height:normal;">
                    <h4>Our Partners</h4>
                    <ul class="nobullet bottom_list">
                        <li><a href="#">Website Designs</a></li>
                        <li><a href="#">Digital Blog</a></li>
                        <li><a href="#">Image Gallery</a></li>
                        <li><a href="#">HTML Web Templates</a></li>
                        <li><a href="#">Preminum Themes</a></li>
                    </ul>
                </div>

                <div class="col_4" style="line-height:normal;">
                    <h4>About</h4>
                    <p> Praesent eu neque lectus, ut congue purus. Donec pellentesque, erat vitae tempus volutpat, augue diam pulvinar orci.</p>
                    <a href="#" class="more">More</a>
                </div>
                <div class="col_4 no_margin_right" style="line-height:normal;">
                    <h4>Twitter</h4>
                    <p>"Lorem ipsum dolor sit amet consectetur adipiscing elit <a href="#">#Donec</a> ante nibh sagittis ut lobortis a, posuere vel sem"</p>
                    <a href="#">Follow me on Twitter</a>
                </div>
                <div class="clear" style="line-height:normal;"></div>
            </div> <!-- END of tooplate_footer -->
        </div> <!-- END of tooplate_footer_wrapper -->

    <div id="tooplate_copyright_wrapper">
        <div id="tooplate_copyright">
            Copyright © 2048 Your Company Name

        </div>
    </div>
@section scripts{
    <script src="../../Scripts/js/scroll-startstop.events.jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var $elem = $('#content');

            $('#nav_up').fadeIn('slow');

            $(window).bind('scrollstart', function () {
                $('#nav_up,#nav_down').stop().animate({ 'opacity': '0.2' });
            });
            $(window).bind('scrollstop', function () {
                $('#nav_up,#nav_down').stop().animate({ 'opacity': '1' });
            });

            $('#nav_up').click(
                function (e) {
                    $('html, body').animate({ scrollTop: '0px' }, 800);
                }
            );
        });
    </script>
}




</body>
</html>